@{
    ViewBag.Title = "We sent you an email!";
}


<section id="loginForm">
    <center>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <img src="@Url.Content("~/Images/logo.png")" class="logo">
                <h4 class="header-title">@ViewBag.Title</h4>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Please check your email to reset your password.
                    </p>
                }
            </div>
         </div>
    </center>
</section>
