@{
    ViewBag.Title = "Your password has been reset";
}
<section id="loginForm">
    <div class="row">
        <div class="col-sm-12" align="center">

            <img src="@Url.Content("~/Images/logo.png")" class="logo">
            <h4>@(ViewBag.Title)</h4>
            <p>
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) using your new password.
            </p>
        </div>
    </div>
</section>
