
packages/*
.vs/*
.nuget/*
TFOF.Net/App_Data/Temp/*
TFOF.Net/bin/*
TFOF.Net/obj/*
TFOF.Net.Library/bin/*
TFOF.Net.Library/obj/*
TFOF.Net.Library.Test/bin/*
TFOF.Net.Library.Test/obj/*
TFOF.Net.PrintService/PrintService/bin/*
TFOF.Net.PrintService/PrintService/obj/*
TFOF.Net.PrintService/PrintServiceSetup/Debug/*
TFOF.Net.PrintService/PrintServiceSetup/Release/*
TFOF.Net.PrintService/packages/*
TFOF.Net/Web.Debug.config

TFOF.Net/Web.Development - Copy.config

TFOF.Net/Web.Development.config

TFOF.Net/Web.Local.config

TFOF.Net/Web.Release.config

TFOF.Net/Web.AWS.config

TFOF.Net.userprefs

TFOF.Net/.ebextensions/app.config

TFOF.Net/Areas/Core/Models/ParadoxTableModels.cs
