namespace TFOF.Areas.[Area].Controllers.API
{
    using System.Web.Http;
    using System.Web.Http.Description;

    using Newtonsoft.Json.Linq;

    using TFOF.Areas.Core.Controllers.API;
    using TFOF.Areas.[Area].Models;

    public class [Name]Controller : CoreController<[Name]Model>
    {
        //PUT: [Name]/[Name]/API/5/method
        [ResponseType(typeof(void))]
        public IHttpActionResult Put(string id, string method, JObject jsonObject)
        {
            [Name]Model model = DB.Models.Find(id);

            if (model != null)
            {
                if (method.Equals(""))
                {
					//Do something
				}
            }
                        
            return Ok(model);
        }
    }
}