@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<div class="form-horizontal padding-bottom-100">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-6">
            @Html.Display("Form", "FormEdit")
            <div class="padding-15"><a href="@Url.Action("ForgotPassword","Account")">Click here</a> if you have forgotten your old password.</div>
        </div>
    </div>
</div>