@if (ViewBag.Delete != null)
{
<div id="DeleteModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>@(ViewBag.Delete.Title)</h4>
                <p>@(ViewBag.Delete.Message)</p>
            </div>
            <form action="@(ViewBag.Delete.Url)" id="DeleteForm" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-footer">
                    @if (ViewBag.Delete.Allowed)
                    {
                        <a onClick="$('#DeleteForm').submit()" class="btn btn-danger">Proceed</a>
                    }
                    else
                    {
                        <a class="btn btn-danger disabled">Proceed</a>
                    }
                    <a href="#!" class="btn btn-default" data-dismiss="modal">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>
}