<hr>
<div class="font-small font-silver">
    <div>Modified by @ViewBag.Model.Modifier.FullName on @ViewBag.Model.Modified </div>

    <div>Created by  @ViewBag.Model.Creator.FullName on @ViewBag.Model.Created </div>
</div>
