@{
    ViewBag.Title = "Audit Logs";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div ng-controller="BasicController" ng-cloak>
    @Html.Display("SearchForm", "FormSearch")
    <div class="table-wrapper">
        <table class="table table-hover az-table condensed" ng-show="filters.didSearch">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Entity
                    </th>
                    <th>
                        Primary Key
                    </th>
                    <th>
                        Property
                    </th>
                    <th>
                        Old Value
                    </th>
                    <th>
                        New Value
                    </th>
                    <th>
                        By
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="a in basics track by $index" class="ng-cloak" ng-show="basics.length > 0" ng-class="{ selected:  selectedItem == $index  }"  ng-click="selectRow($index);">
                <td nowrap>
                    <span ng-bind="$index + filters.viewOffset + 1"></span><a name="{{ $index }}"></a>
                </td>
                <td>
                    {{a.EntityName }}
                </td> 
                <td>
                    {{a.PrimaryKey }}
                </td>
                <td>    
                    {{a.PropertyName }}
                </td>
                <td style="word-break: break-word; width: 30%">
                    {{ a.OldValue }}
                    <span ng-show="a.OldValue == null">NULL</span>
                </td>
                <td style="word-break: break-word; width: 30%">
                    {{ a.NewValue }}
                    <span ng-show="a.NewValue == null">NULL</span>
                </td>
                <td nowrap>
                    {{ a.CreatedBy.FullName }}
                    <div>{{ a.Created | date : "medium" }}</div>
                </td>
            </tr>
        </table>
    </div>
</div>