@inherits System.Web.Mvc.WebViewPage
@using TFOF.Areas.Account.Helpers
@{
	Dictionary<string, string> model = (Dictionary<string, string>)Model;
}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
</head>
<body>
	<center style="padding: 20px;">
		<img width="150" height="67" src="http://@(Request.Url.Host)@Url.Content("~/Images/logo.png")" />
		<h1 style="color: #333; font-weight: normal; margin-bottom: 20px;">Hi @(model["FirstName"].Trim()), heard you forgot your password?</h1>

		<p>
			<a href="@(model["CallBackUrl"])" style="margin: 30px; color: white; background: #4e95ff; border-radius: 3px; padding: 10px 20px; text-decoration: none; font-size: 18px;">
				Reset your password
			</a>
		</p>
		<div style="padding: 20px;">If you did not request a password reset, please contact us at <a href="mailto:@(model["ContactUs"])">@(model["ContactUs"])</a>. </div>
	</center>
</body>
</html>
