<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Can be used if we want to know the enviroment ; Values can be : DEV;UAT;PROD; we can display on the screen also for lower environments-->
    <add key="IsProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="buildEnvironment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Retain documents in the Print Server Directory for a week-->
    <add key="DocumentRetentionDays" value="-7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- The Print Service Directory -->
    <add key="PrintServiceDirectory" value="\\localhost\PrintServiceFiles\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Add Print Server UserId. Using Admin -->
    <add key="UserId" value="000000000000000000000000000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Actually print the file flag. Set to false when testing to eliminate paper waste -->
    <add key="SendToPrinter" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- URL to check health of. -->
    <add key="URLToCheck" value="https://localhost/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Health Check Interval -->
    <add key="HealthCheckInterval" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Email settings-->
    <add key="FromEmail" value="username@example.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailHost" value="smtp.example.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Port" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdminEmail" value="username@example.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailUserName" value="username@example.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailPassword" value="password" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PermittedEmailSuffixes" value="example.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="BaseModelContext" connectionString="Data Source=localhost; initial Catalog=Database; User Id=csw; Password=csw; MultipleActiveResultSets=true; App=EntityFramework" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>
