
@{
    ViewBag.Title = "Index";
}

<h1 class="header-title">Welcome to Core</h1>

<h5>Below you will find examples on how to use the features of Core.</h5>
<ul>
    <li><a href="@Url.Action("Selectize", "Home")">Selectize</a></li>
</ul>
