.search-form .sort-fields {
    margin: 0px;
    border: 0px;
}
.search-form .sort-fields.affix {
    top: 0px;
}

td {
    font-size: 1.5rem !important;
}

.table-wrapper {
    margin: 0px;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
.phone-hide {
    display: none !important;
}

/* Phones should not have pull right for the last menu item */
.last.pull-right {
    float: left !important;
    right: 0 !important;
    left: 0 !important;
}


@media screen and (min-width: 730px) {
    .logo-mobile .header-img {
        height: 70px;
    }


    .phone-show {
        display: none !important;
    }

    .phone-hide {
        display: block !important;
    }

    .last.pull-right {
        float: right !important;

        right: 0 !important;
        left: auto !important;
    }
}




.navbar-brand, .navbar-nav>li>a {
    font-weight: 400;
    color: #000 !important;
}



.navbar-header {
    background-color: #ffffff;
}

.navbar-default { 
    background-color: #ffffff; 

}
.navbar-collapse.collapse .divider {
    border-top: 1px solid #ddd;
}
.navbar-default .navbar-toggle {
    border: none;
}

.navbar {
    margin-bottom: 0px;
}

.nav li>a {
    font-size: 1.6rem;
}


.input-field input[type="text"],
.input-field input[type="number"],
.input-field input[type="date"],
.input-field input[type="password"] {
  font-size: 20px;
  height: 32px;
}
.input-field textarea {
    font-size: 20px;
}
.input-field select {
    font-size: 20px;
    height: 32px;
}

.input-field label.checkbox {
    font-size: 20px;
    color: black;
    padding: 10px 0 10px 0;
}

.input-field label.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: -25px;
}

.btn {
    font-size: 16px !important;
}